icomoon-font-path ?= "fonts"

icon-rfid = "\e90a"
icon-wallet = "\e90b"
icon-icons-1-01-01 = "\e901"
icon-icons-1-01-02 = "\e902"
icon-icons-1-01-03 = "\e903"
icon-icons-1-01-04 = "\e904"
icon-icons-1-01-05 = "\e905"
icon-icons-1-01-06 = "\e906"
icon-icons-1-01-07 = "\e907"
icon-icons-1-01-08 = "\e908"
icon-icons-1-01-09 = "\e909"
icon-icons-1-01-10 = "\e900"

